.stack-index {
  min-width: fit-content;
  display: flex;
  background-color: #fcde67;

  min-height: 85vh;
}

.stack-index-content {
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}
